.el_lv1Heading {
  padding: 30px 10px;
  background-color: #e25c00;
  color: #fff;
  font-size: 1.75rem;
  text-align: center;

  &_inner {
    position: relative;
    display: inline-block;
    transform: translateY(-20%);

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      width: 80px;
      height: 1px;
      background-color: currentColor;
      transform: translateX(-50%);
    }
  }
}

.el_lv2Heading {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 4px solid #e25c00;
  font-size: 1.75rem;
}

.el_lv3Heading {
  padding-top: 10px;
  padding-bottom: 6px;
  margin-bottom: 3px;
  border-bottom: 2px solid #e25c00;
  font-size: 1.5rem;
}

.el_footerCopyright {
  text-align: center;
}
